.list {
  &--list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 85vh;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__wrapper {
    background: rgba(250, 250, 250, .95);
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;

    @media screen and (max-width:1200px) {
      max-width: 85%;
    }
    @media screen and (max-width:920px) {
      max-width: 95%;
    }
  }
}